table{
    width: 100%;
    margin: 50px 10px ;
    align-content: center;
}
table, th, td{
    border: 1px double black;
    border-collapse:collapse;
    padding: 10px;
    border-spacing: 1px;
}
td{
    text-align: center;
}   
th{
    font-size: 20px;
    color: wheat;
    background-color: darkblue;
}
caption{
    color: red;
    font-size: 70px;
    font-family: 'Festive';
    line-height: 90px;
}
tr:nth-child(even){
    background-color: #f1faee;
}
tr:nth-child(odd){
    background-color:#a8dadc;
}
tr:hover{
    background-color: #b2ff98;
}
#botontabla{
    background-color: rgb(150, 14, 14);
}